<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberWlab</title>
       <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <nav class="navbar">
        <div class="bigpunt">CYBERWLAB</div>
        <a href="/">Anasayfa</a>
        <a href="/userpage">Profilim</a>
        <a href="/roadmap">Yol Haritası</a>
        <a href="/moduller">Modüller</a>
        <a href="/kaynaklar">Kaynaklar</a>
    </nav>

    
</body>
</html>